#layout2 {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  //grid-gap: 1px;
}
.item2 {
  padding: 2px;
  background: var(--white);
  height: 19px;
}
.a1 {
  background-image: url("./wall/pattern03.jpg");
  background-size: 100%;
}
.a6 {
  background: var(--orange);
}
.a11 {
  background: var(--red);
}
.a16 {
  background: var(--purple);
}
.a21 {
  background: var(--blue);
}
.a2:before {
  content: "Sophia";
}
.a7:before {
  content: "Msaoubi";
}
.a12:before {
  content: "portfolio";
}
.a3 {
  background: var(--black);
}
.a8 {
  background: var(--neon-green);
}
.a13 {
  background: var(--pink);
}
.a18 {
  background-image: url("./wall/arab.jpg");
  background-size: 100% 100%;
}
.a23 {
  background: var(--yellow);
}
.a4 {
  background: var(--blue);
}
.a9 {
  background: var(--grey);
}
.a14 {
  background: var(--purple);
}

.a5 {
  background: var(--brown);
}
.a10 {
  background: var(--orange);
}
.a15 {
  background: var(--red);
}
.a26:before {
  content: "graphic";
}
.a31:before {
  content: "design";
}
.a36:before {
  content: "Web";
}
.a41:before {
  content: "dev";
}
.a46:before {
  content: "Visual";
}
.a51:before {
  content: "arts";
}
.a56 {
  color: var(--blue);
  text-decoration: underline;
}
.a27:before {
  content: "Berlin";
}
.a32:before {
  text-decoration: line-through;
  content: "Brussels";
}
.a37:before {
  text-decoration: line-through;
  content: "Paris";
}
.a48:before {
  content: "contact";
}
.a53:before {
  content: "info";
}
.a58 {
  color: var(--blue);
  text-decoration: underline;
}

.a29 {
  background: var(--black);
}
.a34 {
  background: var(--purple);
}
.a39 {
  background: var(--blue);
}

.a30 {
  background-image: url("./wall/pattern01.jpg");
  background-size: 100% 100%;
}
.a35 {
  background: var(--grey);
}
.a40 {
  background: var(--brown);
}
.a45 {
  background: var(--neon-green);
}
.a49 {
  background-image: url("./wall/textile01.jpg");
  background-size: 100% 100%;
}
.a60 {
  background-image: url("./wall/pattern02.jpg");
  background-size: 100%;
}

/*-- tag filter-- */

.a67 {
  background: var(--red);
  color: var(--white);
}
.a68 {
  background: var(--pink);
}
.a69 {
  background: var(--brown);
  color: var(--white);
}
.a72 {
  background: var(--neon-green);
}
.a73 {
  background: var(--grey);
}
.a74 {
  background: var(--orange);
}
.a77 {
  background: var(--black);
  color: var(--white);
}
.a78 {
  background: var(--yellow);
}
.a82 {
  background: var(--purple);
  color: var(--white);
}
.a87 {
  background: var(--blue);
  color: var(--white);
}
.button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 19px;
}

.button.is-checked {
  color: var(--hot-pink);
  background: var(--papaya);

  &:hover,
  &.active {
    color: hotpink;
    background: papayawhip;
  }
}
