.portfolio {
  width: calc(100vw - var(--gap));
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin-left:calc(var(--margin)*2);
}

.archive {
  opacity: 1;
  transition: 0.3s;
  width: 20vw;
  height: auto;
  margin-bottom: 20px;
  margin-right:20px;
  img {
    max-width: 100%;
    height: auto;
  }
  .link {
    color: blue;
    text-decoration: underline;
    padding: 2px;
    cursor: pointer;
  }
}

.archive.fade {
  opacity: 0;
}
.archive.none {
  display: none;
}

