.projects {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 4em;

  a {
    display: flex;
    position: relative;
    width: 40vw;
    height: 50vh;
    background-size: 300px;
    background-color: lightgray !important;
    border-radius: 50%;
    line-height: 3em;
    text-decoration: none;

    p {
      text-transform: uppercase;
      margin: auto;
      text-align: center;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      font-size: calc(1.25vmin + 1.25rem);
      @include background;
    }
  }
}

@keyframes roll {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 100% 100%;
  }
}
.projectone {
  a:hover {
    background-image: url("../img/target/target-cover.jpg");
  }
}
.projecttwo {
  a:hover {
    background-image: url("../img/sandt/cup3.jpg");
  }
}
.projectthree {
  a:hover {
    background-image: url("../img/fly/fly1.jpg");
  }
}

.photobook {
  position: absolute;
  z-index: 1;
  padding: 2vw;
  img {
    width: 100%;
  }
}
.info {
  padding: 2vw;
}
