header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 1em;

  a {
    text-decoration: none;
    color: black;
  }
}

.photobook {
  position: absolute;
  z-index: 1;
  padding: 2vw;
  img {
    width: 100%;
  }
}
.info {
  padding: 2vw;
}
