
#layout-project {
  position: absolute;
  z-index: -1;
  width: 100%;
}


.description {
  margin:calc(var(--margin)*2);
 line-height: 24px;
 .title {
  color: var(--blue);
  text-decoration: underline;
  white-space: nowrap;
}
.text{
 margin-top: var(--margin);
  width:40vw;
 }
}

.image {
  display:flex;
  flex-wrap:wrap;
 justify-content:center;

  .box{
    width:40vw;
    margin-right:var(--margin);
    margin-bottom:var(--margin);
  
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

