@font-face {
  font-family: "SIGNUS_LED-R";
  src: url("fonts/signus_led/SIGNUS_LED-R.eot");
  src: url("fonts/signus_led/SIGNUS_LED-R.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/signus_led/SIGNUS_LED-R.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --gradient: linear-gradient(
    to bottom right,
    red,
    green,
    yellow,
    white,
    red,
    green,
    yellow,
    white,
    red
  );
}

@mixin background {
  background-image: var(--gradient);
  background-size: 200% 200%;
  background-position: top left;
  animation: roll 6s infinite linear;
}

@import "projects";
@import "mobile";

html {
  box-sizing: border-box;
  font-family: "helvetica";
  font-size: 2vw;
  letter-spacing: 0.1rem;

  body {
    background-image: var(--gradient);
    @include background;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
}
.blue {
  width: 100vw;
  height: 100vh;
  background-color: rgb(41, 32, 124);
  opacity: 0.5;
  position: fixed;
}

.green {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: rgb(235, 37, 37);
  opacity: 0.5;
  position: fixed;
}

marquee {
  font-family: "SIGNUS_LED-R";
  color: red;
  text-shadow: 0 0 5px #f00, 0 0 5px #f00;
  font-size: 60px;
  position: absolute;
  left: 50vw;
  bottom: 100px;
  background-color: black;
  line-height: 0.8em;
  width: 400px;
}

.menu {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 4em;

  a {
    display: flex;
    position: relative;
    width: 40vw;
    height: 50vh;
    background-color: lightgray;
    border-radius: 50%;
    line-height: 3em;
    text-decoration: none;

    p {
      text-transform: uppercase;
      margin: auto;
      text-align: center;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      font-size: calc(1.25vmin + 1.25rem);
      @include background;
    }
  }
}

@keyframes roll {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 100% 100%;
  }
}
