@import "header";
@import "project";
@import "portfolio";
@import "mobile";
@import "thesis";
@import "about";

/*_______________General_________________*/

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  --size-body: 18px;
  --margin:1.5vw;
  --gap: 7.7%;
  --gap-mobile: 7%;
  --gap-thesis: 15em;
  --yellow: yellow;
  --orange: orangered;
  --red: red;
  --purple: rgb(102, 0, 255);
  --blue: blue;
  --black: black;
  --neon-green: rgb(26, 255, 0);
  --pink: rgb(255, 0, 212);
  --grey: lightSlateGrey;
  --brown: #964b00;
  --white: white;
  --hot-pink: hotpink;
  --papaya: papayawhip;
  --background: white;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--size-body);
  font-weight: 600;
  color: black;
  background: var(--background);
  width: 100vw;
  overflow-x: hidden;
}
