@font-face {
  font-family: "SIGNUS_LED-R";
  src: url("fonts/signus_led/SIGNUS_LED-R.eot");
  src: url("fonts/signus_led/SIGNUS_LED-R.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/signus_led/SIGNUS_LED-R.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@import "project";
@import "thesis";
@import "mobile";
@import "layout";

/*_______________General_________________*/

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  --size-body: 17px;
  --size-h1: 3.2rem;
  --size-h2: 2rem;
  --size-h3: 1.3rem;
  --size-caption: 0.8rem;
  --row-height: 25vh;
  --column-width: 25vw;
  --item-width: 350px;
  --item-height: 350px;
  --line-height-body: 1.3em;
  --line-height-title: 3em;
  --gap: 1.5rem;
  --gap-thesis: 15em;
  --red: red;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: var(--size-body);
  line-height: var(--line-height-body);
  width: 100%;
  scroll-behavior: smooth;
  cursor: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

.link {
  display: none;
}

.cursor {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: 30px;
  height: 30px;
  background: blue;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: difference;
  z-index: 1000;
  transform: translateX(-150%) translateY(-150%);
}
