@font-face {
  font-family: "SIGNUS_LED-R";
  src: url("SIGNUS_LED-R.eot");
  src: url("SIGNUS_LED-R.eot?#iefix") format("embedded-opentype"),
    url("SIGNUS_LED-R.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Signus-Digital-Round";
  src: url("Signus-Digital-Round.svg#Signus-Digital-Round") format("svg"),
    url("Signus-Digital-Round.ttf") format("truetype"),
    url("Signus-Digital-Round.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
